html,
body,
.wrapall{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

.wrapall{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
}
.container{
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}
.info,
.scenarios{
    flex-basis: 50%;
}
header{
    border-bottom: 1px solid #f0f0f0;
}
.headerlist a{
    float: left;
    display: block;
    color: #aeaeae;
    font-weight: bold;
    text-decoration: none;
    margin: 25px 0 0 20px;
    text-align: center;
    transition: all 250ms linear,visibility 0s,
    padding-left 0s,margin-left 0s,
    margin-top 0s,color 500ms linear;
}
.headerlist a:hover{
    color: #ffdf00;
    cursor: pointer;
}
.logoimg{
    margin: 5px 0 5px 2%;
    float: left;
    cursor: pointer;
}
section.info{
    text-align: center;
}
section.scenarios{
    position: relative;
    width: 100%;
    overflow: hidden;
}
div.nestedcont{
    position: relative;
    width: 96%;
    margin-left: auto;
    overflow: hidden;
}
h3#infoh{
    text-align: left;
    margin-left: 4%;
}
#hellotou{
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 22px;
    font-weight: bold;
}
#infoimg{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
#isdooropened{
    position: absolute;
    top: 40px;
    left: 20px;
    white-space: normal;
    text-align: left;
}
#athome,
#outside{
    position: absolute;
    top: 85px;
    color: #aeaeae;
}
#athome,
.home_temp{
    left: 20px;
}
#outside,
#_19{
    left: 110px;
}
.home_temp,#_19{
    position: absolute;
    top: 90px;
    font-size: 34px;
    font-weight: bold;
}
#cloudcry{
    position: absolute;
    top: 130px;
    left: 175px;
}
#burger{
    display: none;
}
.smallpanel{
    position: absolute;
    right: 20px;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 15px 15px 0;
    text-align: left;
    transition: top 350ms linear 0s, left 350ms linear 0s;
    width: 150px;
    height: 100px;
}
#smallpaneltemp{
    top: 20px;
}
#smallpanellight{
    top: 150px;
}
#smallpanelcam{
    top: 280px;
}
#smallpanelair{
    top: 410px;
}
#philcool,
#xiaomi,
#dlink,
#airpurify {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 27px;
}
#xiaomi, #dlink, #airpurify{
    margin-top: 10px;
}
#_16\:30,
#_17\:00,
#_18\:30,
#_20\:00 {
    color: #858585;
    font-size: 12px;
    margin-top: 5px;
}
h3#favscenarios{
    margin: 20px 0 -40px 25px;
}
div.favscenarios{
    display: inline-block;
    margin: 0 10px 10px 0; /*Right 20px*/
    background-color: #f7f7f7;
    width: 180px;
    height: 90px;
    border-radius: 20px;
    padding: 10px 0 0 15px;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms linear 0s;
    cursor: pointer;
    vertical-align: top;
    white-space: normal;
    overflow-y: hidden;
}
div.favscenarios:hover{
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
div#nestedscenarios{
    height: 330px;
    font-size: 0;
    transition: all 300ms linear 0s, height 0s, padding-left 0s;
    margin: 60px auto 0;
    width: 96%;
    overflow: hidden;
    padding-left: 25px;
}
p.favscenariosubtext{
    font-size: 12px;
    font-weight: normal;
    color: #858585;
    margin-top: -10px;
}
img#leftarrow{
    display: none;
    position: absolute;
    top: 22px;
    right: 65px;
    opacity: 0.33;
}
img#rightarrow{
    display: none;
    position: absolute;
    top: 22px;
    right: 35px;
    opacity: 1;
    transform: rotate(180deg);
    cursor: pointer;
}

h3#devheading {
    margin: 20px 0 0 2%;
    float: left;
    padding-right: 10px;
}
li.devlist{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 18px 0 0 10px;
    vertical-align: top;
    background-color: #f7f7f7;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
li.devlist:first-child{
    background-color: #ffd93e;
}
ul#devlist{
    font-size: 0;
}
img#devarrow{
    display: none;
}
div.devs_wrap{
    margin: 20px 0 0 2%;
    font-size: 0;
    white-space: nowrap;
    overflow-x: hidden;
}
div.devs{
    width: 175px;
    height: 100px;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 10px 0 0 15px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 400ms linear;
    vertical-align: top;
    margin: 0 10px 10px 0;
}
div.devs:hover{
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
p.devs_p1{
    font-size: 14px;
    font-weight: 600;
}
p.devs_p2{
    font-size: 12px;
}

.paranja{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    overflow: hidden;
    /* height: 100vh; */
}

.opened .paranja{
    display: block;
}

.opened .wrapall{
    filter: blur(10px);
}

.popup {
    width: 640px;
    height: 320px;
    background-color: white;
    padding: 30px;
    opacity: 0;
    transform-origin: left top;
    transform: scale(.1);
    position: absolute;
    transition: all 1s ease-in 0s;
    border-radius: 20px;
}

.opened.popup {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    top: 50% !important;
    left: 50% !important;
}

.popup_p1,.popup_p2{
    margin: 0;
}

.popup_p2{
    font-size: 27px;
    font-weight: bold;
}

.popup_p3{
    font-size: 14px;
    margin-top: 5px;
}

.popup_p1{
    font-size: 36px;
    font-weight: bold;
    float: right;
}

.popup_img{
    float: right;
}

.circle_wrap{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

svg{
    touch-action: none;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
}

input[type=range],input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
}

input[type=range]::-moz-range-thumb,input[type=range]::-moz-range-track{
    visibility: hidden;
}

.btn_apply{
    width: 700px;
    height: 60px;
    position: absolute;
    transform-origin: left top;
    transform: scale(.1);
    opacity: 0;
    background-color: #ffd93e;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
}

.opened.btn_apply {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    top: 83% !important;
    left: 50% !important;
    transition: all 1s ease-in 0s;
    }

footer{
    flex-basis: 25px;
}

@media (max-width: 1210px) {
    .smallpanel{
        right: unset !important;
    }
    #smallpaneltemp,
    #smallpanellight,
    #smallpanelcam,
    #smallpanelair {
        top: 200px !important;
    }
}
@media (max-width: 640px) {
    div.wrapall{
        height: auto;
    }
    .container{
        flex-direction: column;
    }
    .scenarios{
        flex: 1 0 auto;
    }
    .logoimg{
        width: 44px;
        display: block;
        float: left;
    }
    h3#infoh{
        display: none;
    }
    header{
        border: none !important;
    }
    #hellotou{
        font-size: 16px !important;
    }
    #isdooropened{
        font-size: 13px;
        top: 30px !important;
    }
    .nestedcont{
        display: inline-block;
        height: calc(331px/1.25);
    }
    #infoimg{
        height: 100%;
    }
    #athome,#outside{
        top: 65px !important;
        font-size: 13px;
    }
    .home_temp,#_19{
        font-size: 25px !important;
        top: 70px !important;
    }
    #cloudcry{
        top: 100px !important;
        left: 155px !important;
        width: 20px;
    }
    .headerlist a#burger{
        display: block !important;
        position: absolute;
        top: 0;
        right: 15px;
        float: right;
    }
    .headerlist.adaptheader a:not(:last-child){
        visibility: visible;
        font-size: 13px;
        text-transform: uppercase;
        float: none;
        clear: left;
        margin: 1px auto !important;
        padding: 10px 20px !important;
        width: 75%;
        background-color: rgba(70, 130, 180, 1);
    }
    .headerlist.adaptheader a:not(:last-child):hover{
        background-color: rgba(65, 105, 255, 1);
    }
    .headerlist a:not(:last-child){
        visibility: hidden;
    }
    #smallpaneltemp,#smallpanellight, #smallpanelcam, #smallpanelair{
        top: 140px !important;
    }
    div#nestedscenarios{
        white-space: nowrap;
        height: 105px;
    }
    img#rightarrow,img#leftarrow{
        display: none !important;
    }
    h3#favscenarios{
        margin-left: 2%;
    }
    div.favscenarios:hover,
    div.favouritedev:hover{
        background-color: #f7f7f7;
        box-shadow: unset;
    }
    header{
        padding-bottom: 3px;
    }
    li.devlist{
        margin-right: 2%;
        float: right;
    }
    li.devlist:not(:first-child){
        display: none;
    }
    img#devarrow{
        display: block;
        transform: rotate(-90deg);
        float: right;
        margin: 3px 0 0 5px;
        filter: brightness(0%);
    }
    div.devmain{
        overflow: hidden;
    }

    div.devs_wrap {
        float: left;
        clear: both;
    }

    .popup{
        width: 310px;
        height: 450px;
        padding: 15px;
    }

    .opened.popup{
        top: 42vh !important;
    }

    .popup_p1, .popup_img{
        display: none;
    }

    .popup_p2{
        font-size: 18px;
    }

    .popup_p3{
        font-size: 12px;
    }

    .circle_wrap{
        height: 100%;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .btn_apply{
        width: 340px;
        height: 50px;
    }

    .btn_apply.opened{
        top: 90% !important;
    }

}
@media (max-width: 300px){
    li.devlist{
        float: left;
        margin-left: 2%;
    }
}
