html,
body,
.page{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
.page{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
}
.container{
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}
.devices{
    flex-basis: 140px;
}
.info,
.scenarios{
    flex-basis: 50%;
}

@media (max-width: 1210px) {
    .smallpanel{
        right: unset !important;
    }
    #smallpaneltemp,
    #smallpanellight,
    #smallpanelcam,
    #smallpanelair {
        top: 200px !important;
    }
}
@media (max-width: 640px) {
    .container{
        flex-direction: column;
    }
    .scenarios{
        flex: 1 0 auto;
    }
    .logoimg{
        width: 44px;
        margin-left: 20px !important;
        display: block;
        float: left;
    }
    h3#infoh{
        display: none;
    }
    header{
        border: none !important;
    }
    #hellotou{
        font-size: 16px !important;
    }
    #isdooropened{
        font-size: 13px;
        top: 30px !important;
    }
    .nestedcont{
        display: inline-block;
        height: calc(331px/1.25);
    }
    #infoimg{
        height: 100%;
    }
    #athome,#outside{
        top: 65px !important;
        font-size: 13px;
    }
    #_23,#_19{
        font-size: 25px !important;
        top: 70px !important;
    }
    #cloudcry{
        top: 100px !important;
        left: 155px !important;
        width: 20px;
    }
    .headerlist a#burger{
        display: block !important;
        position: absolute;
        top: 0;
        right: 15px;
        float: right;
     }
     .headerlist.adaptheader a:not(:last-child){
        visibility: visible;
        font-size: 13px;
        text-transform: uppercase;
        float: none;
        clear: left;
        margin: 1px auto !important;
        padding: 10px 20px !important;
        width: 75%;
        background-color: rgba(70, 130, 180, 1);
    }
    .headerlist.adaptheader a:not(:last-child):hover{
        background-color: rgba(65, 105, 255, 1);
    }
   .headerlist a:not(:last-child){
       visibility: hidden;
    }
    #smallpaneltemp,#smallpanellight, #smallpanelcam, #smallpanelair{
        top: 140px !important;
    }
    h3#favscenarios{
        position: static !important;
    }
    div#nestedscenarios{
        left: 0 !important;
        white-space: nowrap;
    }
    img#rightarrow,img#leftarrow{
        display: none !important;
    }
    div.favscenarios{
        display: inline-block !important;
    }
    header{
        padding-bottom: 3px;
    }
    div.page{
        height: 130% !important;
    }
}
header{
    border-bottom: 1px solid #f0f0f0;
}
.headerlist a{
    float: left;
    display: block;
    color: #aeaeae;
    font-weight: bold;
    text-decoration: none;
    margin: 25px 0 0 20px;
    text-align: center;
    transition: all 250ms linear,visibility 0s,
    padding-bottom 0s,padding-left 0s,margin-left 0s,
    margin-top 0s,color 500ms linear;
}
.headerlist a:hover{
    color: #ffdf00;
    cursor: pointer;
}
.logoimg{
    margin: 5px 0 5px 40px;
    float: left;
}
.info{
    text-align: center;
}
.nestedcont,
section.scenarios{
    position: relative;
    width: 95%;
    margin-left: auto;
    overflow: hidden;
}
h3#infoh{
    text-align: left;
    margin-left: 6%;
}
#hellotou{
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 22px;
    font-weight: bold;
}
#infoimg{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
#isdooropened{
    position: absolute;
    top: 40px;
    left: 20px;
    white-space: normal;
    text-align: left;
}
#athome,
#outside{
    position: absolute;
    top: 85px;
    color: #aeaeae;
}
#athome,
#_23{
    left: 20px;
}
#outside,
#_19{
    left: 110px;
}
#_23,#_19{
    position: absolute;
    top: 90px;
    font-size: 34px;
    font-weight: bold;
}
#cloudcry{
    position: absolute;
    top: 130px;
    left: 175px;
}
#burger{
    display: none;
}
.smallpanel{
    position: absolute;
    right: 20px;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 15px 15px 0;
    text-align: left;
    transition: top 350ms linear 0s, left 350ms linear 0s;
    width: 150px;
    height: 100px;
}
#smallpaneltemp{
    top: 20px;
}
#smallpanellight{
    top: 150px;
}
#smallpanelcam{
    top: 280px;
}
#smallpanelair{
    top: 410px;
}
#philcool,
#xiaomi,
#dlink,
#airpurify {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 27px;
}
#xiaomi, #dlink, #airpurify{
    margin-top: 10px;
}
#_16\:30,
#_17\:00,
#_18\:30,
#_20\:00 {
    color: #858585;
    font-size: 12px;
    margin-top: 5px;
}
h3#favscenarios{
    position: absolute;
    left: 25px;
}
div.favscenarios{
    display: inline-block;
    margin: 0 20px 10px 0;
    background-color: #f7f7f7;
    width: 180px;
    height: 90px;
    border-radius: 20px;
    padding: 10px 0 0 15px;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms linear 0s,
    visibility 300ms linear 350ms,
    opacity 300ms linear 350ms;
    cursor: pointer;
    vertical-align: top;
    white-space: normal;
    overflow-y: hidden;
}
div.favscenarios:hover{
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
div#nestedscenarios{
    height: 330px;
    position: absolute;
    top: 60px;
    left: 25px;
    font-size: 0;
    overflow: hidden;
    transition: all 300ms linear 0s;
}
p.favscenariosubtext{
    font-size: 12px;
    font-weight: normal;
    color: #858585;
    margin-top: -10px;
}
img#leftarrow{
    display: none;
    position: absolute;
    top: 22px;
    right: 65px;
    opacity: 0.33;
}
img#rightarrow{
    display: none;
    position: absolute;
    top: 22px;
    right: 35px;
    opacity: 1;
    transform: rotate(180deg);
    cursor: pointer;
}
